<section class="section about">
  <div class="wraper">
    <h1 class="about__title">About me</h1>
    <!-- ==================================================================== -->

    <div class="about__user">
      <ul class="about__user-list">
        <li class="about__user-item">
          <p class="about__user-text">
            I work with people all over the world to create impressive and
            <span class="about__user-func">functional</span>
            <span class="about_user-web">websites</span> that reflect each
            client's unique personality.
          </p>
        </li>
        <li class="about__user-item">
          <img
            class="about__user-img"
            src="./img/about-me/mob/image.png"
            alt="user_foto"
          />
        </li>
      </ul>
    </div>
    <!-- ==================================================================== -->
    <div class="accordion-container_about">
      <div class="acc">
        <h2 class="ac-header">
          <button type="button" class="acc-trigger">
            ABOUT ME
            <span class="ac-span"></span>
          </button>
        </h2>
        <div class="acc-panel">
          <ul class="ac-text ac-text_about">
            <li>
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages ​​and technologies, always ready
              to improve my skills. I always follow the latest trends and look
              for unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </li>
            <li>
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </li>
          </ul>
        </div>
      </div>
      <div class="acc">
        <h2 class="ac-header">
          <button type="button" class="acc-trigger">
            ROLE<span class="ac-span"></span>
          </button>
        </h2>
        <div class="acc-panel">
          <ul class="ac-text ac-text_role">
            <li>Frontend development</li>
            <li>HeadlessCMS,Wordpress</li>
            <li>Blender(enjoy)</li>
          </ul>
        </div>
      </div>
      <div class="acc">
        <h2 class="ac-header">
          <button type="button" class="acc-trigger">
            EDUCATION<span class="ac-span"></span>
          </button>
        </h2>
        <div class="acc-panel">
          <ul class="ac-text ac-text_education">
            <li>
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li>
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ============ swiper ======================================================== -->
    
    <div class="swiper swiper_about">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper swiper_about-wrapper">
        <!-- Slides -->
        <div class="swiper-slide swiper_about-slide">HTML/CSS</div>
        <div class="swiper-slide swiper_about-slide">JavaScript</div>
        <div class="swiper-slide swiper_about-slide">React</div>
        <div class="swiper-slide swiper_about-slide">Node. js</div>
        <div class="swiper-slide swiper_about-slide">React Native</div>
        <div class="swiper-slide swiper_about-slide">Soft skills</div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    
      <!-- If we need navigation buttons -->
<div class="btn_box">
  <div class="swiper-button-prev swiper_about-prev"></div>
  <div class="swiper-button-next swiper_about-next"></div>
</div>
    
      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
