<section class="section">
  <div class="wraper">
    <h1>BENEFITS OF WORKING WITH ME</h1>
    <div class="benefits-container">
      <ul class="benefits-list">
        <li class="benefits-card">
          <picture>
            <source
              srcset="
                ../img/benefits/person.png    1x,
                ../img/benefits/person@2x.png 2x
              "
            />
            <img
              class="icon-item"
              src="../img/benefits/person.png"
              alt="person-icon"
            />
          </picture>
          <h2 class="ben-card-title">Expertise</h2>
          <p class="ben-card-descr">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>

        <li class="benefits-card">
          <picture>
            <source
              srcset="
                ../img/benefits/message.png    1x,
                ../img/benefits/message@2x.png 2x
              "
            />
            <img
              class="icon-item"
              src="../img/benefits/message.png"
              alt="message-icon"
            />
          </picture>
          <h2 class="ben-card-title">Communication</h2>
          <p class="ben-card-descr">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>

        <li class="benefits-card">
          <picture>
            <source
              srcset="
                ../img/benefits/pencil.png    1x,
                ../img/benefits/pencil@2x.png 2x
              "
            />
            <img
              class="icon-item"
              src="../img/benefits/pencil.png"
              alt="pencil-icon"
            />
          </picture>
          <h2 class="ben-card-title">Art</h2>
          <p class="ben-card-descr">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>

        <li class="benefits-card ben-last-card">
          <picture>
            <source
              srcset="
                ../img/benefits/time.png    1x,
                ../img/benefits/time@2x.png 2x
              "
            />
            <img
              class="icon-item"
              src="../img/benefits/time.png"
              alt="time-icon"
            />
          </picture>
          <h2 class="ben-card-title">Urgent execution</h2>
          <p class="ben-card-descr">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>

      <a class="benefits-btn" href="#work-together">Order the project</a>
    </div>
  </div>
</section>
