<section class="section" id="benefits">
  <div class="wraper benefits-section">
    <h1 class="benefits-title">BENEFITS OF WORKING WITH ME</h1>
    <div class="benefits-container">
      <ul class="benefits-list">
        <li class="benefits-card">
            <svg class="benefits-item-icon" aria-label="icon-user">
            <use href="./img/projects/sprite.svg#icon-user" class="benefits-icon"></use>
          </svg>
          <h2 class="ben-card-title">Expertise</h2>
          <p class="ben-card-descr">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>

        <li class="benefits-card">
          <svg class="benefits-item-icon" aria-label="icon-message-chat-circle">
            <use href="./img/projects/sprite.svg#icon-message-chat-circle" class="benefits-icon"></use>
          </svg>
          <h2 class="ben-card-title">Communication</h2>
          <p class="ben-card-descr">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>

        <li class="benefits-card">
          <svg class="benefits-item-icon" aria-label="icon-brush">
            <use href="./img/projects/sprite.svg#icon-brush" class="benefits-icon"></use>
          </svg>
          <h2 class="ben-card-title">Art</h2>
          <p class="ben-card-descr">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>

        <li class="benefits-card ben-last-card">
          <svg class="benefits-item-icon" aria-label="icon-hourglass">
            <use href="./img/projects/sprite.svg#icon-hourglass" class="benefits-icon"></use>
          </svg>
          <h2 class="ben-card-title">Urgent execution</h2>
          <p class="ben-card-descr">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>

      <a class="benefits-btn" href="#work-together">Order the project</a>
    </div>
  </div>
</section>
