<section id="faq-section" class="faq-sec wraper">
    <h1 class="faq-title">FAQ</h1>
<div class="accordionFaq-container">
    <div class="faq faq-first-element">
        <h2 class="faq-header">
            <button type="button" class="faq-trigger">What programming languages ​​are most often used in your
                project?
            <div class="faq-arrow">
            <svg class="faqArrowSVG" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 7.5L10 12.5L5 7.5" stroke="#FAFAFA" stroke-width="2" />
            </svg>
            </div>
            </button> 
        </h2>
        <div class="faq-panel">
            <p class="faq-text">In the field of web development, there are various technologies and programming
                languages. Typically, this includes a
                combination of frontend (client side) and backend (server side) languages.</p>
        </div>
    </div>

    <div class="faq">
        <h2 class="faq-header">
            <button type="button" class="faq-trigger">What are the deadlines for the project?
                <div class="faq-arrow">
                    <svg class="faqArrowSVG" width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 7.5L10 12.5L5 7.5" stroke="#FAFAFA" stroke-width="2" />
                    </svg>
                </div>
            </button>
        </h2>
        <div class="faq-panel">
            <p class="faq-text">In the field of web development, there are various technologies and programming
                languages. Typically, this includes a
                combination of frontend (client side) and backend (server side) languages.</p>
        </div>
    </div>

    <div class="faq">
        <h2 class="faq-header">
            <button type="button" class="faq-trigger">What payment methods do you accept?
                <div class="faq-arrow">
                    <svg class="faqArrowSVG" width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 7.5L10 12.5L5 7.5" stroke="#FAFAFA" stroke-width="2" />
                    </svg>
                </div>
            </button>
        </h2>
        <div class="faq-panel">
            <p class="faq-text">In the field of web development, there are various technologies and programming
                languages. Typically, this includes a
                combination of frontend (client side) and backend (server side) languages.</p>
        </div>
    </div>

    <div class="faq">
        <h2 class="faq-header">
            <button type="button" class="faq-trigger">How can I contact you?
                <div class="faq-arrow">
                    <svg class="faqArrowSVG" width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 7.5L10 12.5L5 7.5" stroke="#FAFAFA" stroke-width="2" />
                    </svg>
                </div>
            </button>
        </h2>
        <div class="faq-panel">
            <p class="faq-text">In the field of web development, there are various technologies and programming
                languages. Typically, this includes a
                combination of frontend (client side) and backend (server side) languages.</p>
        </div>
    </div>

    <div class="faq">
        <h2 class="faq-header">
            <button type="button" class="faq-trigger">Do you provide advice or support?
                project?
                <div class="faq-arrow">
                    <svg class="faqArrowSVG" width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 7.5L10 12.5L5 7.5" stroke="#FAFAFA" stroke-width="2" />
                    </svg>
                </div>
            </button>
        </h2>
        <div class="faq-panel">
            <p class="faq-text">In the field of web development, there are various technologies and programming
                languages. Typically, this includes a
                combination of frontend (client side) and backend (server side) languages.</p>
        </div>
    </div>

    <div class="faq">
        <h2 class="faq-header">
            <button type="button" class="faq-trigger">What does the process of developing a software product look like from idea to implementation?
                <div class="faq-arrow">
                    <svg class="faqArrowSVG" width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 7.5L10 12.5L5 7.5" stroke="#FAFAFA" stroke-width="2" />
                    </svg>
                </div>
            </button>
        </h2>
        <div class="faq-panel">
            <p class="faq-text">In the field of web development, there are various technologies and programming
                languages. Typically, this includes a
                combination of frontend (client side) and backend (server side) languages.</p>
        </div>
    </div>
</div>
</section>