<header class="section header-section menu-section">
  <div class="header-container">

    <!-- <div>
      <load scr="partials/mobile-menu.html" />
    </div> -->

      <a class="header-logo" href="./index.html">
        <img src="./img/header/logo.png" alt="author's photo" />
        <div class="header-logo-text">
            <svg class="header-logo-icon">
              <use href="./img/sprite.svg#icon-name"></use>
            </svg>
        </div>
      </a>
       <nav>
          <a class="header-nav-menu">Menu</a>
            <div class="header-menu hidden" >
              <ul class="header-menu-list">
                <li class="header-menu-item">
                  <a class="header-menu-item-link" href="#about_me">About me</a>
                </li>
                <li class="header-menu-item">
                  <a class="header-menu-item-link" href="#benefits">Benefits</a>
                </li>
                <li class="header-menu-item">
                  <a class="header-menu-item-link" href="#projects">Projects</a>
                </li>
                <li class="header-menu-item">
                  <a class="header-menu-item-link" href="#faq-section">FAQ</a>
                </li>
              </ul>
            </div>
        </nav>
        
        <button class="header-btn" type="button" href="work-together">Order the project</button>
    
        <button type="button" class="open-menu-btn">
          <svg width="28" height="28">
            <use href="./img/sprite.svg#icon-burger"></use>
          </svg>
        </button>
  </div>
</header>