<header class="header-section menu-section">
  <div class="wraper header-container">
    <a class="header-logo" href="./index.html" aria-label="Home">
      <picture>
        <source srcset="./img/header/logo.png 1x, ./img/header/logo@2x.png 2x"> 
        <img src="./img/header/logo.png" alt="author's photo" >
      </picture>
      <div class="header-logo-text">
          <svg class="header-logo-icon">
            <use href="../img/sprite_full.svg#icon-jefferson"></use>
          </svg>
      </div>
    </a>
    <nav>
      <a class="header-nav-menu" aria-label="Open Menu" href="#">Menu</a>
        <div class="header-menu hidden" >
          <ul class="header-menu-list">
            <li class="header-menu-item">
              <a id="header-about-me" class="header-menu-item-link" href="#about_me" aria-label="About Me">About me</a>
            </li>
            <li class="header-menu-item">
              <a id="header-benefits" class="header-menu-item-link" href="#benefits" aria-label="Benefits">Benefits</a>
            </li>
            <li class="header-menu-item">
              <a id="header-projects" class="header-menu-item-link" href="#projects" aria-label="Projects">Projects</a>
            </li>
            <li class="header-menu-item">
              <a id="header-faq" class="header-menu-item-link" href="#faq-section" aria-label="FAQ">FAQ</a>
            </li>
          </ul>
        </div>
    </nav>
      
    <a id="orderProject" class="header-btn" href="#work-together" aria-label="Order the project">Order the project</a>

    <button type="button" class="open-menu-btn" aria-label="Open Menu">
      <svg width="28" height="28">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>