<div class="backdrop-mobile">
    <div class="modal-mobile">
        <button type="button" class="modal-close-btn">
            <svg class="modal-close-icon" wight="20" height="20">
                <use href="../img/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <nav class="page-nav-mobile">
            <ul class="navlist-mobile">
                <li class="navlist-item-mobile">
                    <a class="navlist-link-mobile current-mobile" href="#about_me">About me</a>
                </li>
                <li class="navlist-item-mobile">
                    <a class="navlist-link-mobile current-mobile" href="#benefits">Benefits</a>
                </li>
                <li class="navlist-item-mobile">
                    <a class="navlist-link-mobile current-mobile" href="#projects">Projects</a>
                </li>
                <li class="navlist-item-mobile">
                    <a class="navlist-link-mobile current-mobile" href="#faq">FAQ</a>
                </li>
            </ul>
        </nav>
        
        <button class="modal-btn" type="button" href="work-together">Order the project</button>


    </div>
</div>