<div class="mobile-menu hidden">
    <div class="backdrop-mobile">
        <button type="button" class="modal-close-btn" aria-label="Close Menu">
            <svg class="modal-close-icon">
                <use class="" href="./img/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <nav class="page-nav-mobile">
            <ul class="navlist-mobile">
                <li class="navlist-item-mobile">
                    <a id="header-about-me_" class="header-menu-item-link" href="#about_me" aria-label="About Me">About me</a>
                </li>
                <li class="navlist-item-mobile">
                    <a id="header-benefits_" class="header-menu-item-link" href="#benefits" aria-label="Benefits">Benefits</a>
                </li>
                <li class="navlist-item-mobile">
                    <a id="header-projects_" class="header-menu-item-link" href="#projects" aria-label="Projects">Projects</a>
                </li>
                <li class="navlist-item-mobile">
                    <a id="header-faq_" class="header-menu-item-link" href="#faq-section" aria-label="FAQ">FAQ</a>
                </li>
            </ul>
        </nav>
        
        <a id="orderProject_" class="modal-btn" href="#work-together" aria-label="Order the project">Order the project</a>
    </div>
</div>