<section class="section" id="projects">
  <div class="wraper wrp-pjc">
    <h2 class="section-title">Projects</h2>
    <div class="swiper swiper-projects">
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide swp-slide">
          <div class="cnt-projects-info">
            <ul class="projects-list">
              <li class="projects-item">
                <a class="item-link" href="https://reactjs.org" target="_blank"
                  >#react</a
                >
              </li>
              <li class="projects-item">
                <a
                  class="item-link"
                  href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                  target="_blank"
                  >#js</a
                >
              </li>
              <li class="projects-item">
                <a class="item-link" href="https://nodejs.org" target="_blank"
                  >#node.js</a
                >
              </li>
              <li class="projects-item">
                <a class="item-link" href="https://git-scm.com" target="_blank"
                  >#git</a
                >
              </li>
            </ul>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="project-btn"
              href="https://github.com/Aleksandr-Hurieiev/js-15-group-project"
              target="_blank"
            >
              See project
            </a>
          </div>
          <div class="cnt-projects-img">
            <picture>
              <source
                srcset="
                  ./img/projects/tab_dec/book-dek-tab.jpg    1x,
                  ./img/projects/tab_dec/book-dek-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              >
              <source
                srcset="
                  ./img/projects/mob/book-mob.jpg    1x,
                  ./img/projects/mob/book-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              >
              <img
                class="project-img"
                src="./img/projects/mob/book-mob.jpg"
                alt="programming read journey"
              >
            </picture>
          </div>
        </li>
        <li class="swiper-slide swp-slide">
          <div class="cnt-projects-info">
            <ul class="projects-list">
              <li class="projects-item">
                <a class="item-link" href="https://reactjs.org" target="_blank"
                  >#react</a
                >
              </li>
              <li class="projects-item">
                <a
                  class="item-link"
                  href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                  target="_blank"
                  >#js</a
                >
              </li>
              <li class="projects-item">
                <a class="item-link" href="https://nodejs.org" target="_blank"
                  >#node.js</a
                >
              </li>
              <li class="projects-item">
                <a class="item-link" href="https://git-scm.com" target="_blank"
                  >#git</a
                >
              </li>
            </ul>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="project-btn"
              href="https://github.com/Aleksandr-Hurieiev/js-15-group-project"
              target="_blank"
            >
              See project
            </a>
          </div>
          <div class="cnt-projects-img">
            <picture>
              <source
                srcset="
                  ./img/projects/tab_dec/pet-dek-tab.jpg    1x,
                  ./img/projects/tab_dec/pet-dek-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              >
              <source
                srcset="
                  ./img/projects/mob/pet-mob.jpg    1x,
                  ./img/projects/mob/pet-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              >
              <img
                class="project-img"
                src="./img/projects/mob/pet-mob.jpg"
                alt="programming petlove"
              >
            </picture>
          </div>
        </li>
        <li class="swiper-slide swp-slide">
          <div class="cnt-projects-info">
            <ul class="projects-list">
              <li class="projects-item">
                <a class="item-link" href="https://reactjs.org" target="_blank"
                  >#react</a
                >
              </li>
              <li class="projects-item">
                <a
                  class="item-link"
                  href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                  target="_blank"
                  >#js</a
                >
              </li>
              <li class="projects-item">
                <a class="item-link" href="https://nodejs.org" target="_blank"
                  >#node.js</a
                >
              </li>
              <li class="projects-item">
                <a class="item-link" href="https://git-scm.com" target="_blank"
                  >#git</a
                >
              </li>
            </ul>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="project-btn"
              href="https://github.com/Aleksandr-Hurieiev/js-15-group-project"
              target="_blank"
            >
              See project
            </a>
          </div>
          <div class="cnt-projects-img">
            <picture>
              <source
                srcset="
                  ./img/projects/tab_dec/reg-dek-tab.jpg    1x,
                  ./img/projects/tab_dec/reg-dek-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              >
              <source
                srcset="
                  ./img/projects/mob/reg-mob.jpg    1x,
                  ./img/projects/mob/reg-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              >
              <img
                class="project-img"
                src="./img/projects/mob/reg-mob.jpg"
                alt="programming vocab bulider"
              >
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <!-- Slides button-->
    <div class="btn-swiper">
      <button class="swiper-button-prev swiper-btn-prev" type="button">
        <svg class="icon-btn-l" width="25" height="24" aria-label="button prev">
          <use href="./img/sprite_full.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="swiper-button-next swiper-btn-next" type="button">
        <svg class="icon-btn-r" width="25" height="24" aria-label="button next">
          <use href="./img/sprite_full.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
