<section class="section" id="projects">
  <div class="wraper wrp-pjc">
    <h2 class="section-title">Projects</h2>
    <div class="swiper swiper-projects">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide swp-slide">
          <div class="cnt-projects-info">
            <ul class="projects-list">
              <li class="projects-item">
                <a class="item-link" href="https://reactjs.org" target="_blank"
                  >#react</a
                >
              </li>
              <li class="projects-item">
                <a
                  class="item-link"
                  href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                  target="_blank"
                  >#js</a
                >
              </li>
              <li class="projects-item">
                <a class="item-link" href="https://nodejs.org" target="_blank"
                  >#node.js</a
                >
              </li>
              <li class="projects-item">
                <a class="item-link" href="https://git-scm.com" target="_blank"
                  >#git</a
                >
              </li>
            </ul>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="project-btn"
              href="https://github.com/Aleksandr-Hurieiev/js-15-group-project"
              target="_blank"
            >
              See project
            </a>
          </div>
          <div class="cnt-projects-img">
            <picture>
              <source
                srcset="
                  ./img/projects/tab_dec/book-dek-tab.jpg    1x,
                  ./img/projects/tab_dec/book-dek-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/mob/book-mob.jpg    1x,
                  ./img/projects/mob/book-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="project-img"
                src="./img/projects/mob/book-mob.jpg"
                alt=""
              >
            </picture>
          </div>
        </div>
        <div class="swiper-slide swp-slide">
          <div class="cnt-projects-info">
            <ul class="projects-list">
              <li class="projects-item">
                <a class="item-link" href="https://reactjs.org" target="_blank"
                  >#react</a
                >
              </li>
              <li class="projects-item">
                <a
                  class="item-link"
                  href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                  target="_blank"
                  >#js</a
                >
              </li>
              <li class="projects-item">
                <a class="item-link" href="https://nodejs.org" target="_blank"
                  >#node.js</a
                >
              </li>
              <li class="projects-item">
                <a class="item-link" href="https://git-scm.com" target="_blank"
                  >#git</a
                >
              </li>
            </ul>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <button class="project-btn">
              See project
              <a
                href="https://github.com/ShraM26/goit-markup-hw-06/blob/main/css/styles.css"
              ></a>
            </button>
          </div>
          <div class="cnt-projects-img">
            <picture>
              <source
                srcset="
                  ./img/projects/tab_dec/pet-dek-tab.jpg    1x,
                  ./img/projects/tab_dec/pet-dek-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/mob/pet-mob.jpg    1x,
                  ./img/projects/mob/pet-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="project-img"
                src="./img/projects/mob/pet-mob.jpg"
                alt=""
              >
            </picture>
          </div>
        </div>
        <div class="swiper-slide swp-slide">
          <div class="cnt-projects-info">
            <ul class="projects-list">
              <li class="projects-item">
                <a class="item-link" href="https://reactjs.org" target="_blank"
                  >#react</a
                >
              </li>
              <li class="projects-item">
                <a
                  class="item-link"
                  href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                  target="_blank"
                  >#js</a
                >
              </li>
              <li class="projects-item">
                <a class="item-link" href="https://nodejs.org" target="_blank"
                  >#node.js</a
                >
              </li>
              <li class="projects-item">
                <a class="item-link" href="https://git-scm.com" target="_blank"
                  >#git</a
                >
              </li>
            </ul>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <button class="project-btn">
              See project
              <a
                href="https://github.com/ShraM26/goit-markup-hw-06/blob/main/css/styles.css"
              ></a>
            </button>
          </div>
          <div class="cnt-projects-img">
            <picture>
              <source
                srcset="
                  ./img/projects/tab_dec/reg-dek-tab.jpg    1x,
                  ./img/projects/tab_dec/reg-dek-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/mob/reg-mob.jpg    1x,
                  ./img/projects/mob/reg-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="project-img"
                src="./img/projects/mob/reg-mob.jpg"
                alt="watch"
              >
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-swiper">
      <div class="swiper-button-prev swiper-btn-prev">
        <svg class="icon-btn-l" width="25" height="24" aria-label="">
          <use href="./img/projects/spriteOrige.svg#icon-btn-l"></use>
        </svg>
      </div>
      <div class="swiper-button-next swiper-btn-next">
        <svg class="icon-btn-r" width="25" height="24" aria-label="">
          <use href="./img/projects/spriteOrige.svg#icon-btn-r"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
