
.about__user-list {
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.about__user-item {
  border-radius: 24px;
  height: 500px;
}
.about__user-item:nth-child(1) {
  background: var(--cards);
  padding: 32px 32px 0 32px;
}
.about__user-item:nth-child(2) {
}
.about__user-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
}
.about__user-func {
  color: var(--button-text);
}
.about_user-web {
  color: rgba(250, 250, 250, 0.4);
}
.about__user-img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
}
/* ===================== accordion ============================================= */
.accordion-container_about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
.accordion-container_about .acc {
  box-sizing: border-box;
  padding-bottom: 32px;
  background-color: rgba(28, 28, 28, 0);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.accordion-container_about .acc::after {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.accordion-container_about .acc .ac-header {
  margin-bottom: 11px;
}
.accordion-container_about .acc .acc-trigger {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-align: left;
  width: 100%;
  padding: 0 0 12px 0;
  display: block;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.25s ease;
  position: relative;
  text-decoration: none;
  border: 0;
}

.accordion-container_about .acc .acc-trigger .ac-span {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg) translate(0, 50%);
  position: absolute;
  right: 10px;
  top: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 36px;
  height: 36px;
}

.accordion-container_about .acc .acc-trigger:focus {
  color: #8a8a8a;
}
.accordion-container_about .acc .acc-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}
.accordion-container_about .acc .acc-panel .ac-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);
}
.ac-text_about {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.ac-text_role,
.ac-text_education {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.accordion-container_about .acc.js-enabled .acc-panel {
  visibility: hidden;
}
.accordion-container_about .acc.is-active .acc-panel {
  visibility: visible;
}
.accordion-container_about .acc.is-active > .ac-header .acc-trigger .ac-span {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* ============ swiper ====================================================== */
.swiper-box {
  position: relative;
}
.cnt-about-skills {
  padding-right: 75px;
}
.swiper_about-slide {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  aspect-ratio: 3/3;
  cursor: pointer;
}
li.swiper_about-slide {
  display: flex;
}
.about-skills-text {
  color: var(--main-text);
  line-height: 150%;
  letter-spacing: -0.02em;
  font-size: 16px;
  font-weight: 500px;
}

.swiper-box .swiper_about-next {
  background-color: transparent;
  width: 28px;
  height: 28px;
}
.swiper_about-next::after {
  display: none;
}
.about-skills-btn-icon {
  fill: none;
  stroke: #3b3b3b;
  opacity: 0.2;
}

@media screen and (min-width: 768px) {
  .accordion-container_about {
    margin-bottom: 64px;
  }
  .accordion-container_about .acc .ac-header {
    margin-bottom: 8px;
}
.ac-text_about {
  gap: 16px;
}
  .swiper-box .swiper_about-next {
    width: 40px;
    height: 40px;
  }
  .about-skills-text {
    font-size: 20px;
  }
  .about__user-item {
    height: 700px;
  }
  .about__user-text {
    font-size: 38px;
    line-height: 105%;
  }
  .cnt-about-skills {
    padding-right: 104px;
  }
  .about__user-item:nth-child(1) {
    padding: 64px 64px 0 64px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-box {
    margin: 0 32px;
  }
  .swiper-box .swiper_about-next {
  }
  .cnt-about-skills {
    padding-right: 111px;
  }
  .cnt-about-skills .swiper_about-slide {
    width: 200px !important;
  }
  /* ================================================================== */

  .about__user-item {
    height: 680px;
    flex: 0 1 50%;
  }
  .about__user-list {
    display: flex;
    flex-direction: row;
  }
  .about__user-text {
    font-size: 38px;
    line-height: 105%;
  }
  .ac-text_about {
    padding: 8px 68px 32px 696px;
  }
  .ac-text_about li:nth-child(1) {
  }
  .ac-text_about li:nth-child(2) {
  }
  .ac-text_about {
    flex: 0 1 50%;
    gap: 32px;
  }
  .acc-box {
    display: flex;
    flex: 0 1 50%;
  }
  .accordion-container_about .acc.is-active .acc-panel {
  }
  .accordion-container_about .acc.js-enabled .acc-panel{
  }
  .accordion-container_about .acc .acc-panel {
  }
  .ac-text_role, .ac-text_education{
    padding-left: 696px;
  }
}
