.about__user {
  padding: 0;
}
.about__user-list {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.about__user-item {
  border-radius: 24px;
  width: 343px;
  height: 500px;
}
.about__user-item:nth-child(1) {
  border-radius: 24px;
  background: var(--cards);
  padding: 32px 32px 0 32px;
}
.about__user-item:nth-child(2) {
}
.about__user-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
}
.about__user-func {
  color: var(--button-text);
}
.about_user-web {
  color: rgba(250, 250, 250, 0.4);
}
.about__user-img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* ===================== accordion ============================================= */
.accordion-container_about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0 0 0;
  margin-bottom: 32px;
}
.accordion-container_about .acc {
  box-sizing: border-box;
  padding-bottom: 32px;
  background-color: rgba(28, 28, 28, 0);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.accordion-container_about .acc::after {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.accordion-container_about .acc .ac-header {
}
.accordion-container_about .acc .acc-trigger {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-align: left;
  width: 100%;
  padding: 0 0 12px 0;
  display: block;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.25s ease;
  position: relative;
  text-decoration: none;
  border: 0;
}
.accordion-container_about .acc .acc-trigger .ac-span {
  background: url(../img/about-me/arrow18.svg) no-repeat center;
  text-align: center;
  width: 15px;
  transform: rotate(180deg) translate(0, 50%);
  position: absolute;
  right: 10px;
  top: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
}
.accordion-container_about .acc .acc-trigger:focus {
  color: #8a8a8a;
}
.accordion-container_about .acc .acc-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}
.accordion-container_about .acc .acc-panel .ac-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);
}
.ac-text_about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 12px 0 20px;
}
.ac-text_role,
.ac-text_education {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 0 20px;
}
.accordion-container_about .acc.js-enabled .acc-panel {
  visibility: hidden;
}
.accordion-container_about .acc.is-active .acc-panel {
  visibility: visible;
}
.accordion-container_about .acc.is-active > .ac-header .acc-trigger .ac-span {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* ============ swiper ====================================================== */
.cnt-about-skills {
  display: flex;
  align-items: center;
}
.swiper_about-slide {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  aspect-ratio: 3/3;
  cursor: pointer;

}
li.swiper-slide {
display: flex;
}
.about-skills-text {
  color:var(--main-text);
  line-height: 150%;
  letter-spacing: -0.02em;
  font-size: 16px;
  font-weight: 500px;
}
.cnt-about-skills .swiper_about-next {
  position: static;
  margin-left: 55px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
 .swiper_about-next::after {
  /* display: none; */
}
.about-skills-btn-icon {
}
@media screen and (min-width: 768px) {
.cnt-about-skills .swiper_about-next {
  margin-left: 64px;
  width: 40px;
  height: 40px;
}
.about-skills-text{
  font-size: 20px;
}
} 

@media screen and (min-width: 1440px) {
  .cnt-about-skills .swiper_about-next {
    margin-left: 72px;
  }
    .cnt-about-skills {
      margin-left: 32px;
    }
    .cnt-about-skills .swiper_about-slide {
      width: 200px !important;
    }
   
} 