/* Reset styles */
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

input {
	font-family: inherit;
	border: none;
	outline: transparent;
}

input:focus {
	border: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);

}

body {
	font-family: 'Inter Tight', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.02em;
	color: rgba(250, 250, 250, 0.6);
	background-color: #1c1d20;
	margin: 0;
	min-height: 100vh;
}

.section-title {
	font-weight: 600;
	color: rgba(250, 250, 250, 0.4);
	margin-bottom: 32px;
}

.wraper {
	max-width: 375px;
	margin: 0 auto;
	padding: 0 16px;
}

@media only screen and (min-width: 768px) {
	.wraper {
		max-width: 768px;
		padding: 0 32px;
	}
}

@media only screen and (min-width: 1440px) {
	.wraper{
		max-width: 1440px;
	}
}

.section {
	padding-bottom: 64px;
}

@media only screen and (min-width: 768px) {
	.section {
		padding-bottom: 96px;
	}
}

@media only screen and (min-width: 1440px) {
	.section {
		padding-bottom: 164px;
	}
}

.section:nth-child(9) {
	padding-bottom: 0;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button::-moz-focus-inner {padding:0;border:0;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}
/*--------------------*/
p:last-child {
  margin-bottom: 0;
}